<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="15" configfailurepolicy="continue">

    <!-- macOS Testing -->

    <test name="Chrome on macOS">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="70"/>
        <parameter name="platform" value="macOS 10.13"/>
        <classes>
            <class name="com.saucelabs.example.TestRunner"/>
        </classes>
    </test>

    <test name="Firefox on macOS">
        <parameter name="browser" value="FIREFOX"/>
        <parameter name="version" value="64.0"/>
        <parameter name="platform" value="macOS 10.13"/>
        <classes>
            <class name="com.saucelabs.example.TestRunner"/>
        </classes>
    </test>

    <test name="Safari on macOS">
        <parameter name="browser" value="SAFARI"/>
        <parameter name="version" value="12"/>
        <parameter name="platform" value="macOS 10.13"/>
        <classes>
            <class name="com.saucelabs.example.TestRunner"/>
        </classes>
    </test>

    <!-- Windows 10 Testing -->

    <test name="Chrome on Windows 10">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="70"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="com.saucelabs.example.TestRunner"/>
        </classes>
    </test>

    <test name="Firefox on Windows 10">
        <parameter name="browser" value="FIREFOX"/>
        <parameter name="version" value="64.0"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="com.saucelabs.example.TestRunner"/>
        </classes>
    </test>

    <!--<test name="Edge on Windows 10">-->
        <!--<parameter name="browser" value="EDGE"/>-->
        <!--<parameter name="version" value="17.17134"/>-->
        <!--<parameter name="platform" value="Windows 10"/>-->
        <!--<classes>-->
            <!--<class name="com.saucelabs.example.TestRunner"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="Internet Explorer on Windows 10">
        <parameter name="browser" value="INTERNETEXPLORER"/>
        <parameter name="version" value="11.285"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="com.saucelabs.example.TestRunner"/>
        </classes>
    </test>

</suite>
