<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="15" configfailurepolicy="continue">

    <!-- CHROME testing -->

    <!-- Chrome in the US -->

    <test name="Chrome on macOS in the US DC">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="70"/>
        <parameter name="platform" value="macOS 10.13"/>
        <parameter name="dataCenter" value="US"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <test name="Chrome on Linux in the US DC">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Linux"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <!-- Chrome in the EU -->

    <test name="Chrome on macOS in the EU DC">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="70"/>
        <parameter name="platform" value="macOS 10.13"/>
        <parameter name="dataCenter" value="EU"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <test name="Chrome on Linux in the EU DC">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Linux"/>
        <parameter name="dataCenter" value="EU"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <!-- Chrome on Headless -->

    <test name="Chrome on Headless">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Linux"/>
        <classes>
            <class name="com.saucelabs.example.HeadlessTestRunner"/>
        </classes>
    </test>

    <!-- FIREFOX testing -->

    <test name="Firefox on Linux">
        <parameter name="browser" value="FIREFOX"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Linux"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <test name="Firefox on macOS">
        <parameter name="browser" value="FIREFOX"/>
        <parameter name="version" value="64.0"/>
        <parameter name="platform" value="macOS 10.13"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <test name="Firefox on Headless">
        <parameter name="browser" value="FIREFOX"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Linux"/>
        <classes>
            <class name="com.saucelabs.example.HeadlessTestRunner"/>
        </classes>
    </test>

    <!-- SAFARI testing -->

    <test name="Safari on macOS">
        <parameter name="browser" value="SAFARI"/>
        <parameter name="version" value="12"/>
        <parameter name="platform" value="macOS 10.13"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <!-- Windows 10 Testing -->

    <test name="Chrome on Windows 10">
        <parameter name="browser" value="CHROME"/>
        <parameter name="version" value="70"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <test name="Firefox on Windows 10">
        <parameter name="browser" value="FIREFOX"/>
        <parameter name="version" value="64.0"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <test name="Internet Explorer on Windows 10">
        <parameter name="browser" value="INTERNETEXPLORER"/>
        <parameter name="version" value="11.285"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="com.saucelabs.example.DesktopTestRunner"/>
        </classes>
    </test>

    <!-- EMULATOR testing -->

    <test name="Chrome on Android 8 Emulator">
        <parameter name="deviceName" value="Android GoogleAPI Emulator"/>
        <parameter name="platform" value="Android"/>
        <parameter name="platformVersion" value="8.0"/>
        <classes>
            <class name="com.saucelabs.example.MobileTestRunner"/>
        </classes>
    </test>

    <test name="Chrome on Android 7.1 Emulator">
        <parameter name="deviceName" value="Android GoogleAPI Emulator"/>
        <parameter name="platform" value="Android"/>
        <parameter name="platformVersion" value="7.1"/>
        <classes>
            <class name="com.saucelabs.example.MobileTestRunner"/>
        </classes>
    </test>

    <test name="Chrome on Android 7 Emulator">
        <parameter name="deviceName" value="Android GoogleAPI Emulator"/>
        <parameter name="platform" value="Android"/>
        <parameter name="platformVersion" value="7.0"/>
        <classes>
            <class name="com.saucelabs.example.MobileTestRunner"/>
        </classes>
    </test>

    <test name="Chrome on Android 6 Emulator">
        <parameter name="deviceName" value="Android GoogleAPI Emulator"/>
        <parameter name="platform" value="Android"/>
        <parameter name="platformVersion" value="6.0"/>
        <classes>
            <class name="com.saucelabs.example.MobileTestRunner"/>
        </classes>
    </test>

    <!-- SIMULATOR testing -->

    <test name="Safari on iPhone X Simulator">
        <parameter name="deviceName" value="iPhone X Simulator"/>
        <parameter name="platform" value="iOS"/>
        <parameter name="platformVersion" value="12.0"/>
        <classes>
            <class name="com.saucelabs.example.MobileTestRunner"/>
        </classes>
    </test>

    <test name="Safari on iPhone 8 Plus Simulator">
        <parameter name="deviceName" value="iPhone 8 Plus Simulator"/>
        <parameter name="platform" value="iOS"/>
        <parameter name="platformVersion" value="12.0"/>
        <classes>
            <class name="com.saucelabs.example.MobileTestRunner"/>
        </classes>
    </test>

</suite>
