<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="5" configfailurepolicy="continue">
    <test name="Login and Update Profile Test" annotations="JDK" preserve-order="true">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.saucelabs.example.TestRunner"/>
        </classes>
    </test>
</suite>
